<section class="pet-success">
  <div class="pet-success__card">
    <div class="pet-success__icon">
      <img src="assets/icons/check.svg" alt="Успіх" />
    </div>
    <h1 class="pet-success__title">Вашу заявку створено!</h1>
    <p class="pet-success__message">
      Дякуємо за вашу турботу. Ваша заявка успішно передана до організації очікуйте на зв`язок із менеджером цієї організації.
    </p>
    <button class="pet-success__button" (click)="goToHome()">Повернутися на головну</button>
  </div>
</section>
