<section class="footer">
    <div class="footer__container">
      <!-- Brand section -->
      <div class="footer__column">
        <h2 class="footer__title">PawHaven</h2>
        <p class="footer__slogan">Кожна лапка заслуговує на любов <span>🐾</span></p>
        <div class="footer__icons">
          <a  href="#"><img style="width: 25px; height: 25px;" src="./assets/icons/footer/instagram.png" alt=""></a>
          <a  href="#"><img style="width: 25px; height: 25px;" src="./assets/icons/footer/facebook.png" alt=""></a>
          <a  href="#"><img style="width: 25px; height: 25px;" src="./assets/icons/footer/X.png" alt=""></a> 
        </div>
      </div>
  
      <!-- Support section -->
      <div class="footer__column">
        <h3 class="footer__subtitle">Підтримати</h3>
        <ul class="footer__list">
          <li><a href="#">Пожертвувати</a></li>
          <li><a href="#">Поширені питання</a></li>
        </ul>
      </div>
  
      <!-- Contacts section -->
      <div class="footer__column">
        <h3 class="footer__subtitle">Контакти</h3>
        <p>pawhavengmail.com</p>
        <p>+380252525252</p>
      </div>
    </div>
</section>
