/* You can add global styles to this file, and also import other style files */
@import '_variables.scss';
@font-face {
  font-family: 'Mariupol';
  src: url('./assets/fonts/Mariupol-Medium.woff2') format('woff2'),
       url('./assets/fonts/Mariupol-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Mariupol', sans-serif;
  overflow-x: hidden;
  position: relative;
}
  
* {
  box-sizing: border-box;
}

/* Загальний відступ для контенту під фіксованим хедером */
.app-content-container {
  padding-top: 5rem; /* Збільшена висота хедера + відступ */
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Медіа-запити для коригування відступу на різних розмірах екрану */
@media (max-width: 1024px) {
  .app-content-container {
    padding-top: 4.5rem;
  }
}

@media (max-width: 768px) {
  .app-content-container {
    padding-top: 4rem;
  }
}

@media (max-width: 480px) {
  .app-content-container {
    padding-top: 3.7rem;
  }
}