<div class="paw-loader" [ngClass]="size">
  <div class="paw-loader__container">
    <div class="paw-loader__track">
      <div class="paw-loader__paw paw-loader__paw--1">
        <div class="paw-loader__main-pad"></div>
        <div class="paw-loader__digit paw-loader__digit--1"></div>
        <div class="paw-loader__digit paw-loader__digit--2"></div>
        <div class="paw-loader__digit paw-loader__digit--3"></div>
        <div class="paw-loader__digit paw-loader__digit--4"></div>
      </div>
      <div class="paw-loader__paw paw-loader__paw--2">
        <div class="paw-loader__main-pad"></div>
        <div class="paw-loader__digit paw-loader__digit--1"></div>
        <div class="paw-loader__digit paw-loader__digit--2"></div>
        <div class="paw-loader__digit paw-loader__digit--3"></div>
        <div class="paw-loader__digit paw-loader__digit--4"></div>
      </div>
      <div class="paw-loader__paw paw-loader__paw--3">
        <div class="paw-loader__main-pad"></div>
        <div class="paw-loader__digit paw-loader__digit--1"></div>
        <div class="paw-loader__digit paw-loader__digit--2"></div>
        <div class="paw-loader__digit paw-loader__digit--3"></div>
        <div class="paw-loader__digit paw-loader__digit--4"></div>
      </div>
      <div class="paw-loader__paw paw-loader__paw--4">
        <div class="paw-loader__main-pad"></div>
        <div class="paw-loader__digit paw-loader__digit--1"></div>
        <div class="paw-loader__digit paw-loader__digit--2"></div>
        <div class="paw-loader__digit paw-loader__digit--3"></div>
        <div class="paw-loader__digit paw-loader__digit--4"></div>
      </div>
    </div>
    <div class="paw-loader__ring"></div>
  </div>
  <p class="paw-loader__message">{{ message }}</p>
</div>
